<section class="md:mt-40 mt-20 relative w-full">
  <img
    class="hidden xl:block"
    src="../../../../../assets/home/values/Rectangle_139.svg"
    alt=""
  />

  <div
    class="xl:absolute xl:top-28 xl:left-28 xl:max-w-2xl bg-primary-gray-300 backdrop-opacity-90 lg:p-12 p-6 rounded-3xl shadow-primary-gray-100"
  >
    <h2
      class="text-dynamic-h2 text-center font-fugaz-one bg-primary-pink-100 bg-clip-text text-transparent"
    >
      ¿Por qué elegirnos?
    </h2>
    <div
      class="grid sm:grid-cols-[repeat(auto-fit,_minmax(250px,_1fr))] gap-10 mt-4"
    >
      <div
        class="bg-primary-gray-300 shadow-primary-gray-100 p-6 rounded-3xl relative"
      >
        <h3
          class="text-dynamic-h3 text-primary-400 font-fugaz-one leading-none"
        >
          Prestigio
        </h3>
        <p class="text-white text-dynamic-des leading-none mt-3">
          Contamos con más de 10 años en el rubro del maquillaje.
        </p>
        <img
          class="absolute top-0 right-0 bg-primary-pink-100 p-2 rounded-3xl"
          src="../../../../../assets/home/values/icon_prestigio.svg"
          alt=""
        />
      </div>
      <div
        class="bg-primary-gray-300 shadow-primary-gray-100 p-6 rounded-3xl relative"
      >
        <h3
          class="text-dynamic-h3 text-primary-400 font-fugaz-one leading-none"
        >
          Certificación
        </h3>
        <p class="text-white text-dynamic-des leading-none mt-3">
          Talleres y cursos 100% prácticos, instructora especialista y
          calificada.
        </p>
        <img
          class="absolute top-0 right-0 bg-primary-pink-100 p-2 rounded-3xl"
          src="../../../../../assets/home/values/icon_certificacion.svg"
          alt=""
        />
      </div>
      <div
        class="bg-primary-gray-300 shadow-primary-gray-100 p-6 rounded-3xl relative"
      >
        <h3
          class="text-dynamic-h3 text-primary-400 font-fugaz-one leading-none"
        >
          Modernidad
        </h3>
        <p class="text-white text-dynamic-des leading-none mt-3">
          Estamos con la última tendencia a exigencia del cliente.
        </p>
        <img
          class="absolute top-0 right-0 bg-primary-pink-100 p-2 rounded-3xl"
          src="../../../../../assets/home/values/icon_modernidad.svg"
          alt=""
        />
      </div>
      <div
        class="bg-primary-gray-300 shadow-primary-gray-100 p-6 rounded-3xl relative"
      >
        <h3
          class="text-dynamic-h3 text-primary-400 font-fugaz-one leading-none"
        >
          Prácticas Profesionales
        </h3>
        <p class="text-white text-dynamic-des leading-none mt-3">En eventos.</p>
        <img
          class="absolute top-0 right-0 bg-primary-pink-100 p-2 rounded-3xl"
          src="../../../../../assets/home/values/icon_practicas.svg"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
